<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="woocommerce-breadcrumb">
                    <a [routerLink]="['/']">Home</a>
                    <span class="separator">/</span> About
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="entry-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="entry-title">About Us</h1>
            </div>
        </div>
    </div>
</div>
<div class="about-page-area">
    <div class="about__us_page_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                      
                            <p> 
                                MASA is an organization that is committed, first and foremost, to uncompromising quality above all else. To this effect, we at MASA source the most innovative technological products from across the globe and distribute them, under our trusted mark of quality assurance, to homes across the region.
                                
                                Our corporate journey initially began with wholesale home electronics distribution, but our business trajectory has since grown in both volume and verticals, to include home electronics and home appliances production as well; sustained by our unwavering commitment to premium quality and well-fostered relationships with all our esteemed clients, partners, suppliers, customers, and all other stakeholders.
                                
                                With premium quality and relationships being the bedrock of our corporate philosophy, and as we begin our global expansion rollout, we will continue to ensure truthful, trustworthy, and transparent communications with every individual MASA stakeholder.  Recognizing our customers as people first and upholding ourselves to their highest ideals forms the foundation of our quest for quality.
                                </p>
                                <br>
                                Over 20 years of experience <br>
                                Over 170 SKUs<br>
                                Over 25,000 sqft warehouse<br>
                                Over 1,000,000 Televisions SOLD<br>
                                Over 750,000 Home Appliances SOLD<br>
                                Over 500,000 Kitchen Appliances<br>
                                SOLD Over 2,000,000 Air Conditioners SOLD<br>
                                
                           
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>OUR DISTRIBUTION TEAM</h5>
                            <p>MASA possesses one of the largest distribution networks in the Middle East region. Extensive market reach and a comprehensive understanding of the regional market have made us the partner of choice for many leading electronics and home appliance brands.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                OUR LOGISTICS TEAM</h5>
                            <p>MASA has a dedicated term of multi-skilled logistics professionals who deliver consistent value coupled with the very best service and supply chain management in the industry. </p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                
                                OUR SERVICES & PROJECTS TEA</h5>
                            <p>To promise the best products, quality, service, and provide every single one of our customers with the personalized care and individual attention that they deserve.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>

           
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>OUR VALUES</h5>
                            <p> Good is never good enough<br>
                                Aspire to a legacy of greatness<br>
                                Quality is expected, trust is earned<br>
                                Make long-lasting products<br>
                                </p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                Our Promise</h5>
                            <p>  <br> Anywhere in the world we are always right here.<br> If we can't find it, we MAKE IT.<br> People Before Products. 
                                
                               </p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                
Our VISION</h5>
                            <p>We are constantly driven by our desire to become the foremost and most trusted home electronics and home appliances leader in the world, with an all-encompassing portfolio of products and unparalleled service quality.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                
Our Mission</h5>
                            <p>To promise the best products, quality, service, and provide every single one of our customers with the personalized care and individual attention that they deserve.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                
                                LOCAL SERVICE, GLOBAL REACH</h5>
                            <p>MASA is one of the Middle East region’s foremost manufacturers and largest authorized regional distributors of televisions, home appliances, kitchen appliances, and air conditioners.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                
                                PRODUCING PROPRIETARY BRANDS</h5>
                            <p>MASA produces a broad range of proprietary branded home electronics, manufactured in South Korea and China, and which are widely distributed, both regionally and globally.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                
                                PREMIUM QUALITY AND MORE</h5>
                            <p>MASA’s status as a leading global manufacturer, supplier, and authorized distributor of home electronics and home appliances ensures and guarantee premium product quality standards at a competitive price.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-12 col-lg-12  col-xs-12">
                    <div class="banner_h2_Right_text">
                        <div class="wpb_wrapper">
                            <h5>
                                
Our Brands</h5>
                            <p >Masa Trading FZE is one of the biggest trademarks, we powered many of strong brands. Our target is providing a better future by our modern technique concepts.</p>
                            <!-- <p class="text-center">
                                <a href="#"> view work </a>
                            </p> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <div class="banner_h2__left_image">
                        <img width="200" height="200" src="https://masadubai.com/wp-content/uploads/2020/02/brands-evvoli-300x227.png" class="attachment-medium size-medium" alt="evvoli.com" decoding="async" loading="lazy" srcset="https://masadubai.com/wp-content/uploads/2020/02/brands-evvoli-300x227.png 300w, https://masadubai.com/wp-content/uploads/2020/02/brands-evvoli-1024x776.png 1024w, https://masadubai.com/wp-content/uploads/2020/02/brands-evvoli-768x582.png 768w, https://masadubai.com/wp-content/uploads/2020/02/brands-evvoli-1536x1164.png 1536w, https://masadubai.com/wp-content/uploads/2020/02/brands-evvoli.png 1583w" sizes="(max-width: 300px) 100vw, 300px">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <div class="banner_h2__left_image">
                        <img width="200" height="200" src="https://masadubai.com/wp-content/uploads/2020/02/brands-starx-300x227.png" class="attachment-medium size-medium" alt="" decoding="async" loading="lazy" srcset="https://masadubai.com/wp-content/uploads/2020/02/brands-starx-300x227.png 300w, https://masadubai.com/wp-content/uploads/2020/02/brands-starx-1024x776.png 1024w, https://masadubai.com/wp-content/uploads/2020/02/brands-starx-768x582.png 768w, https://masadubai.com/wp-content/uploads/2020/02/brands-starx-1536x1164.png 1536w, https://masadubai.com/wp-content/uploads/2020/02/brands-starx.png 1583w" sizes="(max-width: 300px) 100vw, 300px">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <div class="banner_h2__left_image">
                        <img width="200" height="200" src="https://masadubai.com/wp-content/uploads/2020/02/brands-general-300x227.png" class="attachment-medium size-medium" alt="" decoding="async" loading="lazy" srcset="https://masadubai.com/wp-content/uploads/2020/02/brands-general-300x227.png 300w, https://masadubai.com/wp-content/uploads/2020/02/brands-general-1024x776.png 1024w, https://masadubai.com/wp-content/uploads/2020/02/brands-general-768x582.png 768w, https://masadubai.com/wp-content/uploads/2020/02/brands-general-1536x1164.png 1536w, https://masadubai.com/wp-content/uploads/2020/02/brands-general.png 1583w" sizes="(max-width: 300px) 100vw, 300px">  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <div class="banner_h2__left_image">
                        <img width="200" height="200" src="https://masadubai.com/wp-content/uploads/2020/02/brands-fuji-300x227.png" class="attachment-medium size-medium" alt="" decoding="async" loading="lazy" srcset="https://masadubai.com/wp-content/uploads/2020/02/brands-fuji-300x227.png 300w, https://masadubai.com/wp-content/uploads/2020/02/brands-fuji-1024x776.png 1024w, https://masadubai.com/wp-content/uploads/2020/02/brands-fuji-768x582.png 768w, https://masadubai.com/wp-content/uploads/2020/02/brands-fuji-1536x1164.png 1536w, https://masadubai.com/wp-content/uploads/2020/02/brands-fuji.png 1583w" sizes="(max-width: 300px) 100vw, 300px"> </div>
                </div>
            </div>
        </div>
    </div>


</div>