      <!-- My Account page content Start -->
      <div id="myaccount-page-content">
        <div class="container">
            <div class="account-text-wrapper">
                <div class="row">
                <div class="col-md-3">
                    <div class="myaccount-tab-menu nav" role="tablist">
                        <!-- <a href="#dashboad"  data-toggle="tab"><i class="fa fa-dashboard"></i>
                            Dashboard</a> -->

                        <a href="#orders" class="active" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>

                        <!-- <a href="#download" data-toggle="tab"><i class="fa fa-cloud-download"></i> Download</a>

                        <a href="#payment-method" data-toggle="tab"><i class="fa fa-credit-card"></i> Payment
                            Method</a>

                        <a href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a> -->

                        <a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>

                        <a (click)="clearlog()" style="cursor:pointer ;"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>
                </div>
                <!-- My Account Tab Menu End -->

                <!-- My Account Tab Content Start -->
                <div class="col-md-9 mt-15 mt-lg-0">
                    <div class="tab-content" id="myaccountContent">
                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade " id="dashboad" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Dashboard</h3>

                                <div class="welcome">
                                    <p>Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni !</strong><a
                                            href="login.html" class="logout"> Logout</a>)</p>
                                </div>

                                <p class="mb-0">From your account dashboard. you can easily check & view your
                                    recent orders, manage your shipping and billing addresses and edit your
                                    password and account details.</p>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane show active" id="orders" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Orders</h3>

                                <div class="myaccount-table table-responsive text-center">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                              <th>Order_ID</th>
                                              <th>Date</th>
                                              <th>First Name</th>
                                              <th>Last Name</th>
                                              <th>Email</th>
                                              <th>Phone</th>
                                              <th>Country</th>
                                              <th>Total Price</th>
                                              <th></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr class="tr-shadow" *ngFor="let dataItem of OrdersList2  ">
                                                <td>{{dataItem.order_ID}}</td>
                                                <td>{{dataItem.datetime}}</td>
                                                <td>{{dataItem.firstaname}}</td> 
                                                <td> {{dataItem.lastname}}</td>
                                                <td> {{dataItem.email}}</td>
                                                <td> {{dataItem.phone}}</td>
                                                <td> {{dataItem.country}}</td>
                                                <td> {{dataItem.totalprice}}</td>
                                                <td>
                                                  <div class="template-demo">
                          
                                                
                                                    <button type="button" (click)="ViewOrderDetails(dataItem.order_ID,dataItem.firstaname,dataItem.lastname,dataItem.email,dataItem.phone,dataItem.country,dataItem.totalprice,dataItem.totalcbm,dataItem.datetime,dataItem.address1,dataItem.address2,dataItem.city)" class="btn btn-primary btn-sm">View</button>
                                                  </div>
                                                 </td>
                                                </tr>
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade" id="download" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Downloads</h3>

                                <div class="myaccount-table table-responsive text-center">
                                    <table class="table table-bordered">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Product</th>
                                            <th>Date</th>
                                            <th>Expire</th>
                                            <th>Download</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>Haven - Free Real Estate PSD Template</td>
                                            <td>Aug 22, 2018</td>
                                            <td>Yes</td>
                                            <td><a href="#" class="btn">Download File</a></td>
                                        </tr>
                                        <tr>
                                            <td>HasTech - Profolio Business Template</td>
                                            <td>Sep 12, 2018</td>
                                            <td>Never</td>
                                            <td><a href="#" class="btn">Download File</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade" id="payment-method" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Payment Method</h3>

                                <p class="saved-message">You Can't Saved Your Payment Method yet.</p>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade" id="address-edit" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Billing Address</h3>

                                <address>
                                    <p><strong>Alex Tuntuni</strong></p>
                                    <p>1355 Market St, Suite 900 <br>
                                        San Francisco, CA 94103</p>
                                    <p>Mobile: (123) 456-7890</p>
                                </address>

                                <a href="#" class="btn d-inline-block"><i class="fa fa-edit"></i> Edit
                                    Address</a>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane fade" id="account-info" role="tabpanel">
                            <div class="myaccount-content">
                                <h3>Account Details</h3>

                                <div class="account-details-form checkout-form-list">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="single-input-item">
                                                    <label for="first-name" class="required">First Name</label>
                                                    <input type="text" id="first-name"
                                                           placeholder="First Name"  name="firstname1" [(ngModel)]="firstname1"/>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="single-input-item">
                                                    <label for="last-name" class="required">Last Name</label>
                                                    <input type="text" id="last-name" placeholder="Last Name" name="firstname1" [(ngModel)]="lastname1"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-input-item">
                                            <label for="display-name" class="required">Email</label>
                                            <input type="text" id="display-name" placeholder="Display Name"   [(ngModel)]="email1" name="email1"/>
                                        </div>
                                        <div class="single-input-item">
                                            <label for="display-name" class="required">Conact</label>
                                            <input type="text" id="display-name" placeholder="Display Name"   [(ngModel)]="phone1" name="phone1"/>
                                        </div>

                                        <div class="single-input-item">
                                            <label for="password" class="required">Password</label>
                                            <input type="password" id="password" placeholder="" [(ngModel)]="password1" name="password1"/>
                                        </div>

                                        <fieldset hidden>
                                            <legend>Password change</legend>
                                            <div class="single-input-item">
                                                <label for="current-pwd" class="required">Current
                                                    Password</label>
                                                <input type="password" id="current-pwd"
                                                       placeholder="Current Password"/>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="single-input-item">
                                                        <label for="new-pwd" class="required">New
                                                            Password</label>
                                                        <input type="password" id="new-pwd"
                                                               placeholder="New Password"/>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="single-input-item">
                                                        <label for="confirm-pwd" class="required">Confirm
                                                            Password</label>
                                                        <input type="password" id="confirm-pwd"
                                                               placeholder="Confirm Password"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="single-input-item">
                                            <button class="btn" (click)="saveusers()">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Single Tab Content End -->
                    </div>
                </div>
                <!-- My Account Tab Content End -->
            </div>
            </div>
        </div>
    </div>
    <!-- My Account page content end -->
    <modal #myModal>
        <modal-header>
          
           <span class="col-md-12"> Order Details</span>
        </modal-header>
     
        <modal-content>
          <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
            <div class="card">
            <div class="card-header p-4">
            <a class="pt-2 d-inline-block"  data-abc="true">Masa General Trading LLC</a>
            <div class="float-right"> <h3 class="mb-0">Order: #{{this.orderid}} </h3>
            Date:{{this.datetime}}</div>
            </div>
            <div class="card-body">
            <div class="row mb-4">
            <div class="col-sm-6">
            <h5 class="mb-3">From:</h5>
            <h3 class="text-dark mb-1">{{this.firstaname}} {{this.lastname}}</h3>
            <div>{{this.country}} , {{this.city}}</div>
            <div>{{this.address1}} , {{this.address2}}</div>
            <div>Email: {{this.email}}</div>
            <div>Phone: {{this.phone}}</div>
            </div>
            <!-- <div class="col-sm-6 ">
            <h5 class="mb-3">To:</h5>
            <h3 class="text-dark mb-1">Akshay Singh</h3>
            <div>478, Nai Sadak</div>
            <div>Chandni chowk, New delhi, 110006</div>
            <div>Email: info@tikon.com</div>
            <div>Phone: +91 9895 398 009</div>
            </div> -->
            </div>
            <div class="table-responsive-sm">
            <table class="table table-striped">
            <thead>
            <tr>
            <th class="center">Image</th>
           
            <th>Item</th>
            <th>Price </th>
            <th class="right">Qty</th>
            <th class="center">Total Price</th>
            <th class="right">Total CBM</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let dataItem of orderitemslist  ">
         
            <td class="center"> <img src="{{this.imageurl}}{{dataItem.singleimage}}" style="width:50px ;height:50px"></td>
            <td class="left strong">{{dataItem.name}}</td>
            <td class="left">{{dataItem.price}}</td>
            <td class="right">{{dataItem.qtyordered}}</td>
            <td class="center">{{dataItem.price}}</td>
             <td class="right">{{dataItem.cbm}}</td>
                 </tr>
         
            </tbody>
            </table>
            </div>
            <div class="row">
            <div class="col-lg-4 col-sm-5">
            </div>
            <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
            <tbody>
            <tr>
            <td class="left">
            <strong class="text-dark">Total CBM</strong>
            </td>
            <td class="right">{{this.totalcbm}}</td>
            </tr>
            <tr>
            <td class="left">
            <strong class="text-dark">Total Price</strong>
            </td>
            <td class="right">{{this.totalprice}}</td>
            </tr>
            <tr>
            <!-- <td class="left">
            <strong class="text-dark">VAT (10%)</strong>
            </td>
            <td class="right">$2,304,00</td>
            </tr>
            <tr>
            <td class="left">
            <strong class="text-dark">Total</strong>
             </td>
            <td class="right">
            <strong class="text-dark">$20,744,00</strong>
            </td> -->
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>
            <div class="card-footer bg-white">
      
            </div>
            </div>
            </div>
        </modal-content>
     
        <modal-footer>
            <!-- Modal footer content goes there. -->
        </modal-footer>
    </modal>